
* {
    margin: 0;
    padding: 0;
}
.main-cleaning {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    padding: 15px;
}

.cleaning-container{
    display: flex ;
    margin-left: 20px;
}


.table-container {
    background-color: #ffb6c1;
    height: 500px;
    width: 1250px;
    overflow: auto; /* Allows scrolling */
    display: flex;
    padding: 0;

    /* Hide scrollbar for Firefox */
    scrollbar-width: none; /* Firefox */

    /* Hide scrollbar for Internet Explorer and Edge */
    -ms-overflow-style: none;  /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.table-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.cleaning-tools {
    background-color: linear-gradient(to bottom, #fff0f5, #ffb6c1);
    height: 120px;
    padding: 10px;
}



.cleaning-tools button:hover {
    cursor: pointer;
}
.cleaning-tool{
    display: flex;
    margin-top: 5px;
    /* background-color: blueviolet; */
    height: 70%;
}
