.main-cleaning-container{
    display: flex;
    flex-direction: column;
    background-color: #fff0f5;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}

.cleaning-container {
    width: 100%;
    height: 100%;
}

.main-cleaning {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    padding: 15px;
}



.table-container {
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 1250px;
    overflow: scroll;
    display: flex;
    /* align-items: center; */
}


.table-container::-webkit-scrollbar {
    display: none;
}



.cleaning-tools {
    background-color: linear-gradient(to bottom, #fff0f5, #ffb6c1);
    height: 120px;
    padding: 10px;
}



.cleaning-tools button:hover {
    cursor: pointer;
}
.cleaning-tool{
    display: flex;
    margin-top: 5px;
    /* background-color: blueviolet; */
    height: 70%;
}

.table-responsive {
    /* background-color: aqua; */
    width: 100%;
}