.home-container{
    display: flex;
    flex-direction: column;  
    align-items: left; 
    width: 100%;
    height: 100vh;
    overflow: scroll;
}

.recent-files {
  /* background-color: aqua; */
  width: 100% !important;

  height: 100%;
}

.new {
    border: none;
    background-color: #FF698C;
    color: white;
    font-size: 15px;
    padding: 5px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;

}

.new:hover {
    cursor: pointer;
}


/* table */ 

table {
    /* width: 100px !important; */
    width: 100%;
    margin: 20px auto; /* Center the table horizontally */
    border-collapse: collapse;
    background-color: #FFD7E9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: scroll;
  }
  
  th, td {
      padding: 10px;
      vertical-align: middle;
      text-align: left;
      border-bottom: 1px solid #f2f2f2;
    }
  
  th {
    background-color: #FFB6C1;
    color: white;
    font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
    background-color: #F8E0E6;
  }
  
  tbody tr:hover {
    background-color: #FFC0CB;
  }