body {
    font-family: sans-serif;
    background-color: #fff0f5; /* Light pink background */
    margin: 0;
    display: flex;
}

.sidebar {
    width: 150px; /* Increased width for better layout */
    background-color: #fff0f5; /* Light pink sidebar */
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.sidebar svg {
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    fill: #ffb6c1; /* Light pink icons */
}

.sidebar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    text-decoration: none;
    color: #800080;
}

.sidebar a:last-child {
    margin-bottom: 0;
}

.sidebar h6 {
    font-size: 12px;
    color: #800080;
    margin-bottom: 20px;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #fff0f5;
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.create-button, .upload-button {
    background-image: linear-gradient(to right, #ffb6c1, #ff8080);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 10px; /* Added margin for spacing */
}


.create-button select, .upload-button select {
    background-color: transparent;
    border: none;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}


.create-button::after, .upload-button::after {
    content: '\279C';
    color: white;
}

.recent-files {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 8px;
    overflow: auto;
}

.recent-files th, .recent-files td {
    border: 1px solid #eee;
    padding: 8px 12px;
    text-align: left;
}

.recent-files th {
    background-color: #ffb6c1;
    color: white;
    font-weight: bold;
}

.recent-files td {
    color: #800080;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-header img {
    max-width: 100px;
    max-height: 100px;
}

#dropzone.highlight {
    border: 2px dashed blue; /* Or any style you prefer */
}