.manual-container {
    display: flex;
    flex-direction: center;
    background-color: #fff0f5;
    height: 100%;
    gap: 40px;
    overflow: hidden;
    
}

/* Pink Theme */
.data-entry {
    width: 80%;
    margin: 15px auto;
    border: 1px solid #e6b8af; /* Light rose border */
    padding: 15px;
    background-color: #fff0f5; /* Very light pink background */
    font-family: 'Arial', sans-serif; /* Or your preferred font */
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(230, 184, 175, 0.2); /* Soft rose shadow */
}

#data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
}

#data-table th, #data-table td {
    border: 1px solid #e6b8af; /* Light rose border */
    padding: 10px;
    text-align: left;
}

#data-table th {
    background-color: #f8d7da; /* Light pink header background */
    font-weight: bold;
}

.delete-row {
    background-color: #FF698C; /* Crimson - a darker pink */
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 3px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight:bold; 
    color: #800080;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #e6b8af; /*Light rose border*/
    box-sizing: border-box;
    border-radius: 3px;
}

button {
    padding: 8px 15px;
    background-color: #FF698C; /* Pinkish-purple */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin: inherit;
    font-weight: bold;
}

#data-table thead th:first-child,
#data-table tbody td:first-child {
    position: sticky;
    left: 0;
    background-color: #f4f4f4; /* Optional: For a different background color */
    z-index: 2;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional: For a shadow effect */
}

.rowInputs{
    display: flex;
    flex-direction: column;
}