{% extends "layout.html" %}

{% block content %}
<div class="main-cleaning-container">
    <h1 class="title">Data Cleaning</h1>

    <div class="main-cleaning">
        <div class="table-container">
            {% if table_html %}
                <div class="table-responsive">
                    {{ table_html | safe }}
                </div>
            {% else %}
                <p>No table to display. Please upload a CSV file first.</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="cleaning-container">
    <!-- Button to trigger cleaning -->
    <form method="POST">
        <button type="submit" name="action" value="clean_data">Clean Data</button>
    </form>

    <form method="POST" action="/save-to-visualize">
        <button id="visualize" type="submit">Visualize</button>
    </form>
</div>

{% block styles %}
<style>
    /* Styles for buttons and table */
    button {
        background-color: #ffb6c1;
        color: white;
        border: none;
        padding: 10px 20px;
        margin-right: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-weight: bold;
    }

    .main-cleaning-container {
        /* background-color: aqua; */
        margin-bottom: 20px;
        /* overflow-y: scroll; */
        height: 85vh !important;
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    // JavaScript code if needed for extra functionality
</script>
{% endblock %}
{% endblock %}
