{% extends "layout.html" %}

{% block content %}
<div class="home-container">
    <h2 class="title">Home</h2>
    <button id="createNew" class="new">Create Blank Report</button>
    <div class="recent-files">
        <div class="recent-files">
            <table>  
                <thead>
                    <tr>
                        <th>Filename</th>
                        <th>Type</th>
                        <th>Path</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody id="tableBody"></tbody>
            </table>
        </div>
    </div>

{% endblock %}
